
.Nav{
width: 100%;
/* background: #333; */
color: #fff;
padding: 4px 0;
position: fixed;
top:0;
left: 0;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 10;
padding-left: 2%;
padding-right: 4%;
font-size: x-large;


}
.logo{
  width: 150px;
  padding-top: 7px;
  padding-left: 7px;
  padding-bottom: 7px;
  
}
.Nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}
.hero{
  width: 100%;
  min-height: 100Vh;
  background-image: linear-gradient(rgba(72, 56, 186, 0.7),rgba(53, 17, 214, 0.364)),url('/public/campus.jpg');
  background-size: cover;
  background-position: center;
  color: #fff; 
  display: flex;
  align-items: center;
  justify-content: center ;
}
.hero-text{
  text-align: center;
  max-width: 800px;


}
.hero-text h1{
  font-size: 60px;
  font-weight: 600;
}
.hero-text p{
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}
.programs{
  margin: 80px auto ;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program img{
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 30vh;
  /* padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px; */

}
.programs {
 flex-basis: 31%;
 position: relative;
}
/* .program img{
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 50%;
}
.program img{
  width: 45%;
  border-radius: 10px;
  display: block;
  height: 50%;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  /* .caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.caption img{
  width: 60px;
  margin-bottom: 10px;
} */
.main{
  align-items: center;
  justify-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
  padding-top: 5%;
  color: #212Ea0;
  font-size: 15px;

  
  margin: 0 0 30px;
}
.main h3{
  font-size: 32px;
  color: #000F38;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  
}
.about{
  margin: 100px auto;
  display:flex ;
  align-items: center;
  justify-content: space-between;
  width: 90%;

}
.about-left{
  flex-basis: 40%;
  position: relative;
}
.about-right{
  flex-basis: 56%;
}
.about-img{
  width: 100%;
  border-radius: 10px;
  height: 100%;

}
.icon-img{
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.about h3{
  font-weight: 600;
  font-weight: 16px;
  color: #212EA0;
}
.about h2{
  
  color: #000F38;
  font-size: 35px;
  margin: 10px 0;
  max-width: 400px;


}
.about p{
  color: #676767;
  margin-bottom: 15px;
}
.dark-nav{
  background:black;
  transition: 0.5s;
}

.btn img{
  width: 20px;
  margin-left: 10px;
  align-content: center;
  justify-content: center;
}
.btn.dark-nav{
  background: #212EA0;
  color: #fff;
  align-content: center;
  justify-content: center;
}
.testimonials{
  margin: 80px auto;
  padding: 0 80px;
  position: relative;

}
.nxtbtn {
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%);
height: 30px;
width: 50px;
border-radius: 80%;
cursor: pointer;
background: #f1b9b900;


}
.bckbtn{
position: absolute;
top: 50%;
height: 30px;
left: 0;
transform: translateY(-50%);
width: 50px;
border-radius: 80%;
cursor: pointer;
background: #f1b9b900;
}
/* .slider{
  overflow: hidden;

} */
.slider ul{
  display: flex;
  width: 200%;
  overflow: hidden;
  transition: 0.5s;
  transform: translateX(10px);
}
.slider ul li{
  list-style: none;
  width: 50%;
  padding: 20px;
}
.slide{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  border-radius: 10px;
  color: #676767;
  line-height: 1.4;
  height: 20%;
  width: 357px;
  /* background: #000; */

}
.slide img{
  width: 150px;
  border-radius: 60%;
  margin-right: 10px;
  border: 4px solid #070811;
}
.user-info{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;

}
.user-info h3{
  color: #000;
}
.user-info span{
  font-weight: 20px;
}